<section id="section-header" class="header">
	<img alt="Brand" src="../img/logo-small.png">
<ul>
	<li><a class="x-fadeIn discord-btn" href="https://discordapp.com/channels/476351902288838677/509872931673735169" target="_blank" data-toggle="tooltip" data-placement="bottom" title="discord channel"><img src="./img/discord-icon.svg" /></a></li>
	<li class="user-online"><a class="x-fadeIn menu-manager" href="#cashier" data-toggle="tooltip" data-placement="bottom" title="cashier"><i class="far fa-exchange"></i></a></li>
	<li><a class="x-fadeIn menu-manager" href="#rooms" data-toggle="tooltip" data-placement="bottom" title="rooms"><i class="fas fa-globe-americas"></i></a></li>
	<li><a class="menu-manager x-fadeIn" href="#leaderboard" data-toggle="tooltip" data-placement="bottom" title="leaderboard"><i class="fas fa-trophy"></i></a></li>
	<li class="user-online"><a class="x-fadeIn menu-manager" href="#profile" data-toggle="tooltip" data-placement="bottom" title="profile"><i class="fas fa-user"></i></a></li>
	<li class="user-online"><a class="x-fadeIn menu-manager" href="#balance" data-toggle="tooltip" data-placement="bottom" title="balance"><i class="fab fa-bitcoin"></i></a></li>
	<li class="user-online"><a class="x-fadeIn menu-manager" href="#settings" data-toggle="tooltip" data-placement="bottom" title="settings"><i class="fas fa-cog"></i></a></li>
	<li class="user-online"><a class="x-fadeIn menu-manager" href="#disconnect" data-toggle="tooltip" data-placement="bottom" title="Exit"><i class="fas fa-power-off"></i></a></li>
	{{!-- <li class="user-offline"><a id="header-login" href="#">Login</a></li> --}}
</ul>
</section>