<div class="menu-left micro">
{{!-- 	<div class="stats">
		<ul>
			<li data-toggle="tooltip" data-placement="bottom" title="username" class="name"><i class="fas fa-user"></i><span class="user-name"></span></li>
			<li data-toggle="tooltip" data-placement="bottom" title="bits"><i class="far fa-balance-scale"></i><span id="user-balance" class="user-balance"></span></li>
		</ul>
	</div> --}}
	<ul>
		<li><a class="menu-manager games menu-active" href="#games"><i class="far fa-gamepad"></i> <span>games</span></a></li>
		<li class="user-online"><a class="menu-manager cashier" href="#cashier"><i class="far fa-exchange"></i> <span>cashier</span></a></li>
		<li class="user-online"><a class="menu-manager profile" href="#profile"><i class="fas fa-user"></i> <span>profile</span></a></li>
		<li class="user-online"><a class="menu-manager balance" href="#balance"><i class="far fa-chart-line"></i> <span>statistics</span></a></li>
		<li><a class="menu-manager settings" href="#settings"><i class="fas fa-cog"></i> <span>preference</span></a></li>
		<li><a class="menu-manager leaderboard" href="#leaderboard"><i class="fas fa-trophy"></i> <span>leaderboard</span></a></li>
		<br>
		<li class="user-online"><a class="menu-manager disconnect" href="#disconnect"><i class="fas fa-power-off"></i> <span>disconnect</span></a></li>
		<li class="user-offline"><a class="menu-manager new-user" href="#new-user"><i class="fas fa-sign-in"></i> <span>login</span></a></li>
	</ul>
</div>
