<div class="menu-right" style="display:none;">
	{{!-- kar leaderboard --}}
	<div class="avatar-container user-online">
		{{!-- 	<div class="image">
				<img src="../img/avatar.png">
			</div> --}}
		<div class="info">
{{!-- 			<div class="name">
				<i class="fas fa-user"></i><span class="username"></span>
				<i class="far fa-balance-scale x-color-green"></i><span class="user-balance"></span>
			</div> --}}
			{{!-- <img class="line" src="../img/line-ll.png"> --}}

		</div>
	</div>
	{{!-- kard chat --}}
	<div class="kard k-small chat">
		<div class="kard-info">
			<div class="kard-body">
				<div class="container">
					<div class="row">
						<div class="chat-title">
							<i class="fas fa-comments"></i> Live chat
						</div>
						<div class="small-chat-container">
							<ul class="chat-display">
							</ul>
						</div>
						<input id="chat-input" class="chat-input user-online x-fadeIn user-online" type="text" placeholder="Press Enter to send" name="chat" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
