<!-- powerups -->
<div class="powerups-container">
	<div id="order_power_1" class="powerup shield">
{{!-- 		<div class="price">
			<span>25 bits</span>
		</div> --}}
		<span>1</span>
		<img src="./img/canvas/game/order_powers/power-1.png" />
		{{!-- <div class="price-pop">-25 bits</div> --}}
	</div>
	<div id="order_power_4" class="powerup speed">
{{!-- 		<div class="price">
			<span>25 bits</span>
		</div> --}}
		<span>2</span>
		<img src="./img/canvas/game/order_powers/power-4.png" />
		{{!-- <div class="price-pop">-25 bits</div> --}}
	</div>
	<div id="order_power_5" class="powerup slowco">
{{!-- 		<div class="price">
			<span>25 bits</span>
		</div> --}}
		<span>3</span>
		<img src="./img/canvas/game/order_powers/power-5.png" />
		{{!-- <div class="price-pop">-25 bits</div> --}}
	</div>{{!-- 	
	<div id="order_power_2" class="powerup rapidfire">
		<div class="price">
			<span>25 bits</span>
		</div>
		<span>2</span>
		<img src="./img/canvas/game/order_powers/power-2.png" />
		<div class="price-pop">-25 bits</div>
	</div>
	<div id="order_power_3" class="powerup peacemaker">
		<div class="price">
			<span>25 bits</span>
		</div>
		<span>3</span>
		<img src="./img/canvas/game/order_powers/power-3.png" />
		<div class="price-pop">-25 bits</div>
	</div>
	<div id="order_power_4" class="powerup">
		<div class="price">
			<span>25 bits</span>
		</div>
		<span>4</span>
		<img src="./img/canvas/game/order_powers/power-4.png" />
		<div class="price-pop">-25 bits</div>
	</div>
	<div id="order_power_5" class="powerup">
		<div class="price">
			<span>25 bits</span>
		</div>
		<span>5</span>
		<img src="./img/canvas/game/order_powers/power-5.png" />
		<div class="price-pop">-25 bits</div>
	</div>
	<div id="order_power_6" class="powerup">
		<div class="price">
			<span>25 bits</span>
		</div>
		<span>6</span>
		<img src="./img/canvas/game/order_powers/power-6.png" />
		<div class="price-pop">-25 bits</div>
	</div> --}}
	<div class="powerup locked">
		<span>4</span>
		<img src="./img/canvas/power-locked.png" />
	</div>
	<div class="powerup locked">
		<span>5</span>
		<img src="./img/canvas/power-locked.png" />
	</div>
	<div class="powerup locked">
		<span>6</span>
		<img src="./img/canvas/power-locked.png" />
	</div>
</div>