<!-- powerups -->
<div class="powerups-container">
		<div id="order_power_1" class="powerup shield">
		<span>1</span>
		<img src="./img/canvas/game/order_powers/power-1.png" />
	</div>
	<div id="order_power_2" class="powerup rapidfire">
		<span>2</span>
		<img src="./img/canvas/game/order_powers/power-2.png" />
	</div>
	<div id="order_power_3" class="powerup peacemaker">
		<span>3</span>
		<img src="./img/canvas/game/order_powers/power-3.png" />
	</div>
	<div id="order_power_4" class="powerup">
		<span>4</span>
		<img src="./img/canvas/game/order_powers/power-4.png" />
	</div>
	<div id="order_power_5" class="powerup">
		<span>5</span>
		<img src="./img/canvas/game/order_powers/power-5.png" />
	</div>
	<div id="order_power_6" class="powerup">
		<span>6</span>
		<img src="./img/canvas/game/order_powers/power-6.png" />
	</div>
	<div class="powerup locked">
		<span>7</span>
		<img src="./img/canvas/power-locked.png" />
	</div>
	<div class="powerup locked">
		<span>8</span>
		<img src="./img/canvas/power-locked.png" />
	</div>
	<div class="powerup locked">
		<span>9</span>
		<img src="./img/canvas/power-locked.png" />
	</div>
</div>