<!-- Modal Disconnect -->
<div id="kard-back-home" class="kard-modal kard-back-home">

		<div class="kard">
			<div class="kard-header">
				<span class="kard-close" data-dismiss="modal"><i class="fal fa-times"></i></span>
				<h5 class="kard-title">Exit to Home</h5>
			</div>
			<div class="kard-info">
				<div class="kard-body">
					<div class="container">
						<div class="row">
							<div class="col-6 text-center">
								<i class="far fa-home" style="font-size:90px;"></i>
							</div>
							<div class="col-6">
								<p>
									Are you sure you want to go back to main menu?
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="kard-footer">
					<button type="button" class="btn btn-cancel" data-dismiss="modal">cancel</button>
                    <button type="button" class="btn go-home-modal-btn">home</button>
				</div>
				<span class="oil oil-t-l"><img src="./img/oil1.png" style="width:90%;"></span>
			</div>
			<span class="red-line"><img src="./img/red-line.png"></span>
		</div>

</div>