<!-- Modal Settings -->
<div id="kard-balance" class="kard-modal kard-balance">
	<div class="kard">
		<div class="kard-info">
			<div class="kard-header">
				<h5 class="kard-title">Balance</h5>
			</div>			
			<div class="kard-body">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h5 class="kard-subtitle mb-20">
								<ul class="playing-info">
									<li data-toggle="tooltip" data-placement="bottom" title="kills"><img src="./img/canvas/game/ui/kill-icon.png">kills: <span class="user-kills"></span></li>
									<li data-toggle="tooltip" data-placement="bottom" title="deaths"><img src="./img/canvas/game/ui/death-icon.png">deaths: <span class="user-deaths"></span></li>
									<li data-toggle="tooltip" data-placement="bottom" title="spawns"><img src="./img/canvas/game/ui/spawn-icon.png">spawns: <span class="user-spawns"></span></li>
									<li data-toggle="tooltip" data-placement="bottom" title="profits"><img src="./img/canvas/game/ui/profit-icon.png">profits: <span class="user-profit"></span></li>
									<li data-toggle="tooltip" data-placement="bottom" title="bits" style="float:right;">balance: <span class="user-balance color-white"></span></li>
								</ul>
							</h5>
						</div>
						<div class="col-12 pl-0 pr-0 mb-10">
							<div class="drawlines" style="width: 100%; height: 170px;"></div>
						</div>
					</div>
					<div class="row">
						<table class="table table-balance table-sm">
							<thead>
								<th>status</th>
								<th>information</th>
								<th>profits</th>
								<th>profits snapshot</th>
								<th>balance snapshot</th>
							</thead>
							<tbody class="user_balance_table">
								<!-- user_balance -->
							</tbody>
						</table>
					</div>
				</div>					
			</div>
		</div>
	</div>
</div>