<!-- Modal Settings -->
<div id="kard-cashier" class="kard-modal kard-cashier">
		<div class="kard">
			<div class="kard-info">
				<div class="kard-header">
					<h5 class="kard-title cashier-tabs tab-title">Cashier
						<ul>
							<li class="active" data-tab-link="0">Deposits</li>
							<li data-tab-link="1">Withdrawals</li>
							<li data-tab-link="2">Send funds</li>
							<li data-tab-link="3">History</li>
						</ul>
					</h5>
				</div>
				<div class="kard-body">
					<div class="container">
						<div class="x-padding-xs"></div>
						<div class="custom-tabs">
							{{!-- vamos cambiando --}}
							<div id="kard-cashier-deposits" class="active" data-tab="1">
								<div class="row">
									<div class="col-12" style="position:relative;">
										<i id="user_address_copy" class="fas fa-copy" data-toggle="tooltip" data-placement="bottom" title="copy"></i>
										<div id="user_address_cashier" class="user-address selectable" data-toggle="tooltip" data-placement="bottom" title="this is your personal wallet"></div>
									</div>
								</div>
								<div class="row">
									<div class="col-xl-6">
										<div id="qrcode_personal_address" class="img-fluid" data-toggle="tooltip" data-placement="bottom" title="scan this code and make a transfer from your phone"></div>
									</div>
									<div class="col-xl-5">
										<p class="mb-4">
											Welcome to the cashier section, you can transfer any balance you desire into your personal address. Once received your funds will be transfered into the hot wallet for instant availability.<br><br>
											This is a exclusive wallet for BTC, do not send any other currency, as it may result in the lost of it.
										</p>
									</div>
								</div>
							</div>
							{{!-- hasta aca --}}

							{{!-- vamos cambiando --}}
							<div id="kard-cashier-withdrawals" data-tab="2">
								<div class="row">
									<div class="col-12">
										<div class="form-custom special-input" style="display: none;">
											<div class="input-field">
												<input id="withdrawals-confirm" type="number" aria-label="withdrawals-confirm" value="0">
											</div>
										</div>
										<div class="form-custom special-input">
											<span>amount:</span>
											<div class="input-field">
												<input id="withdrawals-amount" type="number" aria-label="withdrawals-amount" placeholder="0.00">
											</div>
										</div>
										<div class="form-custom special-input">
											<span>destination:</span>
											<div class="input-field">
												<input id="withdrawals_send_address" type="text" aria-label="withdrawals_send_address" style="width:90%;">
												<div class="icon"><i class="fab fa-bitcoin"></i></div>
											</div>
										</div>
									</div>
								</div>
								<span id="alert-message-withdrawals" class="text-alert font-small mb-2 mt-2"></span>
								<div class="x-padding-xs"></div>
								<div class="row">
									<div class="col-4 text-center">
									</div>
									<div class="col-7">
										<div class="info-extra">
											<span>Available balance:</span>
											<div id="withdrawals-available-balance">0.00</div>
										</div>
										<div class="info-extra">
											<span>Estimated network fees:</span>
											<div id="withdrawals-required-fees">0.00</div>
										</div>
										<div class="info-extra">
											<span>Requested funds minus fees:</span>
											<div id="withdrawals-specified-funds-minus-fees">0.00</div>
										</div>
										<div class="info-extra">
											<span>Specified funds:</span>
											<div id="withdrawals-specified-funds">0.00</div>
										</div>
										<div class="info-extra">
											<span>Final transaction amount:</span>
											<div id="withdrawals-final_xfer_funds">0.00</div>
										</div>
										<div class="info-extra">
											<span>Balance left in account:</span>
											<div id="withdrawals-balance-left">0.00</div>
										</div>
									</div>
									<div class="col-1"></div>
								</div>
								<div class="row">
									<div class="col-12 text-center">
										<div class="border-div mt-4">
											<button id="withdrawals_send" class="btn">verify withdrawal</button>
										</div>
									</div>
								</div>
							</div>
							{{!-- hasta aca --}}

							{{!-- vamos cambiando --}}
							<div id="kard-cashier-send_funds" data-tab="3">
								<div class="row">
									<div class="col-12">
										<div class="form-custom special-input">
											<span>amount:</span>
											<div class="input-field">
												<input id="send_funds_amount" type="number" aria-label="send_funds-amount" placeholder="0.00">
											</div>
										</div>
										<div class="form-custom special-input">
											<span>username: @</span>
											<div class="input-field">
												<input id="send_funds_username" type="text" aria-label="send_funds_send_address" style="width:90%;">
												<div class="icon"><i class="fab fa-bitcoin"></i></div>
											</div>
										</div>
										<span id="alert-message-send-funds" class="text-alert font-small mb-2 mt-2"></span>
									</div>
								</div>
								<div class="x-padding-xs"></div>
								<div class="row">
									<div class="col-4 text-center">
									</div>
									<div class="col-7">
										<div class="info-extra">
											<span>Available balance:</span>
											<div id="send_funds-available-balance" class="user-balance">123123</div>
										</div>
										<div class="info-extra">
											<span>Requested funds:</span>
											<div class="requested-send-funds">0.00</div>
										</div>
										<div class="info-extra">
											<span>Estimated network fees:</span>
											<div id="">0.00</div>
										</div>
										<div class="info-extra">
											<span>Requested funds minus fees:</span>
											<div id="">0.00</div>
										</div>
										<div class="info-extra">
											<span>Final transaction amount:</span>
											<div id="">0.00</div>
										</div>
										<div class="info-extra">
											<span>Balance left in account:</span>
											<div id="send_funds-balance-left">0.00</div>
										</div>
									</div>
									<div class="col-1"></div>
								</div>
								<div class="row">
									<div class="col-12 text-center">
										<div class="border-div mt-4">
											<button id="send_funds_send" class="btn">transfer funds to user</button>
										</div>
									</div>
								</div>
							</div>
							{{!-- hasta aca --}}

							{{!-- vamos cambiando --}}
							<div id="kard-cashier-send" data-tab="4">
								<div class="row">
									<div class="col-12">

									</div>
								</div>
							</div>
							{{!-- hasta aca --}}

						</div>
					</div>
				</div>
			</div>
		</div>
</div>
