<!-- Modal Online Players -->
<div id="kard-credits" class="kard-modal kard-credits">
	<div class="kard">
		<div class="kard-info">
			<div class="kard-header">
				<h5 class="kard-title">Game Credits</h5>
			</div>
			<div class="kard-body">
				<div class="container">
					<div class="row">
						<div class="col-12 text-center">
							<img class="psy-logo img-fluid" src="./img/credit-logo.png" style="margin-right: -150px;margin-bottom: 15px;">
						</div>
					</div>
					<div class="row team">
						<div class="col-12">
							<div class="team-unit-simple">
									<div><a href="https://www.linkedin.com/in/chris-c-russo/"><span>chris 'ch' russo</span> as CEO</a></div>
									<div><a href="https://www.linkedin.com/in/ignacio-g%C3%B3mez-ar/"><span>ignacio ‘tuna’ gomez</span> as CTO</a></div>
									<div><a href="https://www.linkedin.com/in/rodrigolanda/"><span>Rodrigo Landa</span> as CMO</a></div>
									<!-- <div><a href="https://www.linkedin.com/"><span>mr sandmam</span> as CMO</a></div> -->
									<!-- ch: https://www.linkedin.com/in/rodrigolanda/ -->
{{!-- 									<div><span>alvin lin</span> core game development</div> --}}
									<div><a href="https://www.linkedin.com/in/patricia-bezek/"><span>patricia bezek</span> web development</a></div>
									<div><a href="https://www.linkedin.com/in/solangegonzalez/"><span>solange gonzalez</span> web development</a></div>
									<div><a href="https://www.linkedin.com/in/sebasti%C3%A1n-vitale-3872b55a/"><span>sebastian vitale</span> game musicalization</a></div>
							</div>
						</div>
					</div>
					<div class="x-padding-md"></div>
				</div>
			</div>
		</div>
	</div>
</div>
