<!-- Modal Disconnect -->
<div id="kard-feedback" class="kard-modal kard-feedback">
	<div class="kard">
		<div class="kard-info">
			<div class="kard-header">
				<h5 class="kard-title">Feedback</h5>
			</div>
			<div class="kard-body">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<p>
								Send feedback
							</p>
						</div>
						<div class="col-12">
							<div class="input-group mb-3" style="width: 100%;">
								<textarea class="form-control" rows="5" id="user_feedback" placeholder="Send your feedback"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="x-padding-xs"></div>
			<div class="kard-footer">
				<button class="btn btn-colored" id="send-feedback">Send</button>
			</div>
		</div>
	</div>
</div>
