<!-- Modal games -->
<div id="kard-games" class="kard-modal kard-games">

		<div class="kard">
			<div class="kard-info">
{{!-- 				<div class="kard-header">
					<h5 class="kard-title">Games</span></h5>
				</div> --}}
				<div class="kard-body">
					<div class="">
						<section id="games" class="s-games f-l-m">
							<div class="info">
								<div class="title">
									<img src="../img/games/bow/title.png">
								</div>
								<div class="copy">
									A multiplayer real time action challenge connected to the bitcoin network. No luck involved, the better you aim, the faster you move, the more chances you have!
									<ul>
										<li><strong>Recommended audience:</strong> professional shooters</li>
										<li><strong>Prices:</strong> 10 / 20 / 30</li>
										<li><strong>Type:</strong> action</li>
									</ul>
								</div>
								<div class="actions">
									<a class="c-button f-large" href="https://bow-preview.herokuapp.com" target="_blank">Try now</a>
									<a class="c-button f-large user-offline menu-manager new-user" href="#new-user">Play for bitcoin</a>
									<a class="c-button f-large btn-respawn user-online">Play for bitcoin</a>
								</div>
							</div>
							<div class="sliders">
								<div class="wrap">
									<div class="item"></div>
									<div class="item"></div>
									<div class="item"></div>
									<div class="item"></div>
									<div class="item"></div>
								</div>
								
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

</div>