<!-- Modal Online Players -->
<div id="kard-leaderboard" class="kard-modal kard-leaderboard">
	<div class="kard">
		<div class="kard-info">
			<div class="kard-header">
				<h5 class="kard-title">Leaderboard</h5>
			</div>			
			<div class="kard-body">
				<div class="container">
					<div class="x-padding-sm"></div>
					<div class="row">
						<table class="table table-leaderboard table-sm">
							<thead>
								<tr>
									<th style="">#</th>
									<th style="">Username</th>
									<th style="">Kills</th>
									<th style="">Deaths</th>
									<th style="">Spawns</th>
									<th style="">Profits</th>
								</tr>
							</thead>
							<tbody class="leaderboard-content">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>