<!-- Modal Online Players -->
<div id="kard-online-players" class="kard-modal kard-online-players">

		<div class="kard">
			<div class="kard-info">
				<div class="kard-header">
					<h5 class="kard-title">Online players</span></h5>
				</div>
				<div class="kard-body">
					<div class="container">
						<div class="x-padding-xs"></div>
						<div class="row">
							<div class="col-8">
								{{!-- <h5 class="kard-subtitle mt-20">usa1.bitofwar.com</h5> --}}
								<p>
									You are now connected to usa1.bitofwar.com.<br><strong>10 bits per kill, spawn fee 10%.</strong> {{!-- There’s 3 players online. Maximum capacity of 10 simultaneous players in this server. --}}
								</p>
							</div>
							<div class="col-4">
								<button type="button" class="btn-respawn btn btn-custom-one btn-large mt-1">spawn</button>
							</div>
						</div>
						<div class="x-padding-xs"></div>
						<div class="row">
							<table class="table table-leaderboard table-sm">
							<thead>
								<tr>
									<th style="">#</th>
									<th style="">Username</th>
									<th style="">Kills</th>
									<th style="">Deaths</th>
									<th style="">Spawns</th>
									<th style="">Profits</th>
								</tr>
							</thead>
							<tbody id="table-online-players">
							</tbody>
						</table>
						</div>
					</div>
				</div>
		{{!-- 		<div class="kard-footer">
					<button type="button" class="btn-respawn btn btn-custom-one">spawn</button>
				</div> --}}
			</div>
		</div>

</div>