<!-- Modal Disconnect -->
<div id="kard-low-funds" class="kard-modal kard-low-funds">
		<div class="kard">
			<div class="kard-info">
			<div class="kard-header">
				<h5 class="kard-title">You don't have funds!</h5>
			</div>
			<div class="kard-info">
				<div class="kard-body">
					<div class="container">
						<div class="row">
							<div class="col-6 text-center">
								<i class="fab fa-bitcoin x-fadeIn" style="font-size:90px;"></i>
							</div>
							<div class="col-6">
								<p>
									You need at least 50 bits to respawn. Each respawn comes with 4 free powerups to use during the battle. You feel ready?
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="kard-footer">
					{{!-- <button type="button" class="btn btn-cancel" data-dismiss="modal">cancel</button> --}}
					<button type="button" class="btn btn-custom-one drone-respawn">spy with a drone</button>
		        	<button type="button" class="btn btn-custom-one menu-manager cashier" href="#cashier">cashier</button>
				</div>
			</div>
		</div>
		</div>
</div>
