<!-- Modal User Balance -->
<div id="kard-user-balance" class="kard-modal kard-user-balance">

        <div class="kard">
            <div class="kard-header">
                <h5 class="kard-title">Your Balance</h5>
            </div>
            <div class="kard-info">
                <div class="kard-body">
                    <div class="container">
                        <div class="row">
                            <ul class="user-stats col-12">
                                <li><h5 class="kard-subtitle">Kills: 62</h5></li>
                                <li><h5 class="kard-subtitle">Deaths: 32</h5></li>
                                <li><h5 class="kard-subtitle">Spawns:2</h5></li>
                                <li><h5 class="kard-subtitle">Profits: 1,850</h5></li>
                                <li><h5 class="kard-subtitle">Balance: 11,850</h5></li>
                            </ul>
                        </div>
                        <div class="row">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">information</th>
                                        <th scope="col" class="text-center">profits</th>
                                        <th scope="col">transaction</th>
                                        <th scope="col">total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="./img/light-on.png"/></td>
                                        <td>initial spawn fee</td>
                                        <td><i class="fas fa-arrow-down align-baseline mr-1"></i> 25</td>
                                        <td>
                                            <a href="#"  class="transaction text-truncate" title="f4184fc596403b9d638783c403b9d638783cf5f57ad96403b9d6387">f4184fc596403b9d638783c403b9d638783cf5f57ad96403b9d6387</a>
                                        </td>
                                        <td><i class="fas fa-arrow-down align-baseline mr-1"></i> 25</td>
                                    </tr>
                                    <tr>
                                        <td><img src="./img/light-on.png"/></td>
                                        <td>order</td>
                                        <td><i class="fas fa-arrow-down align-baseline mr-1"></i> 25</td>
                                        <td>
                                            <a href="#"  class="transaction text-truncate" title="f4184fc596403b9d638783c403b9d638783cf5f57ad96403b9d6387">f4184fc596403b9d638783c403b9d638783cf5f57ad96403b9d6387</a>
                                        </td>
                                        <td><i class="fas fa-arrow-down align-baseline mr-1"></i> 50</td>
                                    </tr>
                                    <tr>
                                        <td><img src="./img/light-on.png"/></td>
                                        <td>enemy killed</td>
                                        <td><img src="./img/arrow-up.png" class="align-baseline mr-1"/>1,000</td>
                                        <td>
                                            <a href="#"  class="transaction text-truncate" title="f4184fc596403b9d638783c403b9d638783cf5f57ad96403b9d6387">f4184fc596403b9d638783c403b9d638783cf5f57ad96403b9d6387</a>
                                        </td>
                                        <td><i class="fas fa-arrow-down align-baseline mr-1"></i> 950</td>
                                    </tr>
                                    <tr>
                                        <td><img src="./img/light-on.png"/></td>
                                        <td>order</td>
                                        <td><i class="fas fa-arrow-down align-baseline mr-1"></i> 25</td>
                                        <td>
                                            <a href="#"  class="transaction text-truncate" title="f4184fc596403b9d638783c403b9d638783cf5f57ad96403b9d6387">f4184fc596403b9d638783c403b9d638783cf5f57ad96403b9d6387</a>
                                        </td>
                                        <td><i class="fas fa-arrow-down align-baseline mr-1"></i> 925</td>
                                    </tr>
                                    <tr>
                                        <td><img src="./img/light-off.png"/></td>
                                        <td>enemy killed</td>
                                        <td><img src="./img/arrow-up.png" class="align-baseline mr-1"/>1000</td>
                                        <td>
                                            <a href="#"  class="transaction text-truncate" title="f4184fc596403b9d638783c403b9d638783cf5f57ad96403b9d6387">f4184fc596403b9d638783c403b9d638783cf5f57ad96403b9d6387</a>
                                        </td>
                                        <td><i class="fas fa-arrow-down align-baseline mr-1"></i> 1,925</td>
                                    </tr>
                                    <tr>
                                        <td><img src="./img/light-off.png"/></td>
                                        <td>order</td>
                                        <td><i class="fas fa-arrow-down align-baseline mr-1"></i> 25</td>
                                        <td>
                                            <a href="#"  class="transaction text-truncate" title="f4184fc596403b9d638783c403b9d638783cf5f57ad96403b9d6387">f4184fc596403b9d638783c403b9d638783cf5f57ad96403b9d6387</a>
                                        </td>
                                        <td><img src="./img/arrow-up.png" class="align-baseline mr-1"/>1,900</td>
                                    </tr>
                                    <tr>
                                        <td><img src="./img/light-off.png"/></td>
                                        <td>order</td>
                                        <td><i class="fas fa-arrow-down align-baseline mr-1"></i> 25</td>
                                        <td>
                                            <a href="#"  class="transaction text-truncate" title="f4184fc596403b9d638783c403b9d638783cf5f57ad96403b9d6387">f4184fc596403b9d638783c403b9d638783cf5f57ad96403b9d6387</a>
                                        </td>
                                        <td><img src="./img/arrow-up.png" class="align-baseline mr-1"/>1,875</td>
                                    </tr>
                                    <tr>
                                        <td><img src="./img/light-off.png"/></td>
                                        <td>death</td>
                                        <td><i class="fas fa-arrow-down align-baseline mr-1"></i> 1000</td>
                                        <td>
                                            <a href="#"  class="transaction text-truncate" title="f4184fc596403b9d638783c403b9d638783cf5f57ad96403b9d6387">f4184fc596403b9d638783c403b9d638783cf5f57ad96403b9d6387</a>
                                        </td>
                                        <td><img src="./img/arrow-up.png" class="align-baseline mr-1"/>875</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="kard-footer">
                    <button type="button" class="btn btn-custom-one">spawn</button>
                </div>
                <span class="oil oil-t-l"><img src="./img/oil2.png"></span>
            </div>
            <span class="red-line"><img src="./img/red-line.png"></span>
        </div>

</div>