/* ======================================
	Buttons

====================================== */
.btn {
	font-family: 'Questrial', sans-serif !important;
	border-radius: 5px !important;
	padding: 5px 35px !important;
	color: #fff;
	font-size: 14px !important;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	background: rgb(251,53,53);
	background: -moz-linear-gradient(top, rgba(251,53,53,1) 0%, rgba(229,31,31,1) 100%);
	background: -webkit-linear-gradient(top, rgba(251,53,53,1) 0%,rgba(229,31,31,1) 100%);
	background: linear-gradient(to bottom, rgba(251,53,53,1) 0%,rgba(229,31,31,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb3535', endColorstr='#e51f1f',GradientType=0 );
	transition: transform .1s ease-out !important;
	transform: scale(1);
}
.btn:hover {
	transition: transform .1s;
	transform: scale(1.05);
}
.btn.btn-large {
	min-width: 160px;
}
.btn.btn-cancel {
	color: #000;
	background: rgb(160,22,22);
	background: -moz-linear-gradient(top, rgba(160,22,22,1) 0%, rgba(170,17,17,1) 100%);
	background: -webkit-linear-gradient(top, rgba(160,22,22,1) 0%,rgba(170,17,17,1) 100%);
	background: linear-gradient(to bottom, rgba(160,22,22,1) 0%,rgba(170,17,17,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a01616', endColorstr='#aa1111',GradientType=0 );
}
.btn.btn-disabled {
	background: #999;
}
.btn.btn-black {
	background: #000 !important;
	color: #fff !important;
}
.tooltip {
	opacity: 0.2;
	.arrow::before {
		border-bottom-color: $color-one !important;
	}
	.tooltip-inner {
		font-family: 'Questrial', sans-serif !important;
		background-color: $color-one !important;
		border-radius: 0px;
		font-size: 13px;
		font-weight: 500;
		padding-left: 15px;
		padding-right: 15px;
	}
	&.left {
		.arrow::before {
			border-left-color: $color-one !important;
		}
	}
}
.tooltip-left {
	.tooltip {
		.arrow::before {
			border-left-color: $color-one !important;
		}
	}
}
/* ======================================
	Formating input fields

====================================== */
.form-control, .input-group-text {
	background-color: inherit !important;
	border: 0px !important;
	border-bottom: 1px solid #222 !important;
	border-radius: 0px !important;
	font-size: 14px !important;
	color: $color-white !important;
}
.input-group-prepend {
	.input-group-text {
		padding: 3px !important;
	}
	i {
		font-size: 13px;
	}
}
input:focus, input:active {
	outline-width: 0px !important;
	outline-color: inherit !important;
	box-shadow: none !important;
}

.special-input {
	font-family: 'BigNoodleTitling';
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	border-top: 1px solid #18272d;
	padding: 5px 0px;
	span {
		color: #999999;
		font-size: 18px !important;
		width: 80px !important;
	}
	input {
		color: #fff !important;
		width: 100%;
	}
	.icon {
		border-left: 1px solid #333;
	    padding-left: 12px;
	    i {
	    	color: #f89a29;
	    }
	}
	.input-field {
		width: 82% !important;
		border: 0px !important;
		font-family: 'BigNoodleTitling' !important;
		font-size: 18px !important;
	}
}
.special-input + .special-input {
	border-bottom: 1px solid #18272d;
}
/* ======================================
	Padding blocks div

====================================== */
.x-padding-lg {
	height: 140px;
	clear: both;
}
.x-padding-md {
	height: 80px;
	clear: both;
}
.x-padding-sm {
	height: 40px;
	clear: both;
}
.x-padding-xs {
	height: 20px;
	clear: both;
}

/* ======================================
   Colors

====================================== */
.x-color-yellow {
	color: $color-yellow !important;
}

/* ======================================
	Animations

====================================== */
.x-fadeIn {
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1s; /* Firefox < 16 */
	-ms-animation: fadein 1s; /* Internet Explorer */
	-o-animation: fadein 1s; /* Opera < 12.1 */
	animation: fadein 1s;
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
.x-slideInDown {
	-webkit-animation-name: slideInDown;
	animation-name: slideInDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes slideInDown {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		visibility: visible;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes slideInDown {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		visibility: visible;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
.x-slideOutUp {
	-webkit-animation-name: slideOutUp;
	animation-name: slideOutUp;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes slideOutUp {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		visibility: hidden;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
@keyframes slideOutUp {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		visibility: hidden;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}

@-webkit-keyframes neon3 {
  from {
    text-shadow: 10px 0 10px rgba(255, 216, 0, 0.3), 10px 0 10px rgba(255, 216, 0, 0.3);
  }
  to {
    text-shadow: 10px 0 10px rgba(255, 216, 0, 0.3), 10px 0 10px rgba(255, 216, 0, 0.3);
  }
}
@-webkit-keyframes neon33 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@-webkit-keyframes shakeRage {
  0% { transform: translate(1px, 0px); }
  10% { transform: translate(-1px, 0px); }
  20% { transform: translate(-3px, 0px); }
  30% { transform: translate(3px, 0px); }
  40% { transform: translate(1px, 0px); }
  50% { transform: translate(-1px, 0px); }
  60% { transform: translate(-3px, 0px); }
  70% { transform: translate(3px, 0px); }
  80% { transform: translate(-1px, -1px); }
  90% { transform: translate(1px, 2px); }
  100% { transform: translate(1px, -2px); }
}

@keyframes shakeRage {
  0% { transform: translate(1px, 0px); }
  10% { transform: translate(-1px, 0px); }
  20% { transform: translate(-3px, 0px); }
  30% { transform: translate(3px, 0px); }
  40% { transform: translate(1px, 0px); }
  50% { transform: translate(-1px, 0px); }
  60% { transform: translate(-3px, 0px); }
  70% { transform: translate(3px, 0px); }
  80% { transform: translate(-1px, -1px); }
  90% { transform: translate(1px, 2px); }
  100% { transform: translate(1px, -2px); }
}

/* ======================================
	Extras

====================================== */
.no-break {
	white-space: nowrap;
}
.line-bottom {
	border-bottom: 1px solid #222;
	margin-bottom: 25px;
	padding-bottom: 10px;

}
.x-visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap; /* 1 */
}
.x-center-margin {
	margin-left: auto !important;
	margin-right: auto !important;
}
.x-hidden-mobile {
	@include only-mobile {
		display: none !important;
	}
}
.x-show-mobile {
	display: block;
	@include tablet {
		display: none;
	}
	@include desktop {
		display: none !important;
	}
}
.x-hidden-tablet {
	@include tablet {
		display: none !important;
	}
}
.x-hidden-desktop {
	@include desktop {
		display: none !important;
	}
}
.x-weight-regular {
	font-weight: 400 !important;
}
.x-no-padding {
	padding: 0 !important;
}
